main{}
	text-align: center;

#submit, #try-again{
	margin-top: 10px;
	margin-right: auto;
	margin - button: 10px
	margin-left: auto;
}

#submit{
	display: none;
	margin-top: 0
	margin-right: auto
	margin-bottom: 0
	margin-left: auto;
	width: 250px;
	height: 400px;
	background-repeat: none;
	background-size: cover;
	background-position: center;
